.config-container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
}

.full-width {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.btn-guardar,
.btn-volver {
  margin-top: 20px;
  text-align: center;
}

/* Modo oscuro */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .config-container {
  background-color: #1e1e1e;
  color: white;
}

.dark-mode .mat-form-field-infix {
  background-color: #2a2a2a;
}

