<div class="detalle-alerta-container">
  <div class="sidebar">
    <button class="btn-regresar" (click)="volver()">Regresar</button>

    <div class="alert-info-box">
      <h3>Detalles de la alerta:</h3>
      <p><strong>🕒 Fecha y hora:</strong> {{ alert.createdAt }}</p>
      <p><strong>📌 Estado:</strong> {{ alert.status }}</p>
      <p><strong>🎞 Video ID:</strong> {{ alert.video.id }}</p>
      <p><strong>🗂 Ruta del archivo:</strong> {{ alert.video.file_path }}</p>
      <p><strong>💻 Dispositivo ID:</strong> {{ alert.device.id }}</p>
      <p><strong>📟 Nombre:</strong> {{ alert.device.name }}</p>
      <p><strong>📍 Ubicación:</strong> {{ alert.device.location }}</p>
    </div>
  </div>

  <div class="main-content">
    <h2>Alerta Detalles: <span class="alert-id">{{ alert.video.id }}</span></h2>
    <hr />
    <h3>Repetición</h3>
    
      <video controls width="640" height="360">
  <source src="\assets\videos\alert_camera1_2025-06-19_10-46-40.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>


    

    <div class="acciones">
      <button mat-raised-button color="primary" (click)="confirmar()">Confirmar</button>
      <button mat-raised-button color="warn" (click)="descartar()">Descartar</button>
    </div>

      <video width="640" height="360" controls>
     <source src="/assets/videos/mov.mp4" type="video/mp4">
     Your browser does not support the video tag.
   </video>

  </div>
</div>





