.create-report-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-field {
    width: 100%;
  }
  .volver-boton {
    align-self: flex-start;
    margin-top: 10px;
    color: #0d6efd; /* Azul similar al botón original */
    font-weight: 500;
  }
  
  