/* Estilos globales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  font-family: 'Roboto', sans-serif;
  
  background-color: #f4f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: 
    linear-gradient(to bottom, rgba(82, 89, 133, 0.7), rgba(0, 0, 0, 0.7)), /* Gradiente con transparencia */
    url('../../../../public/assest/pexels-njeromin-11542516.jpg'); /* Imagen de fondo */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 2em;
  color: #3f51b5;
  margin-bottom: 20px;
  font-weight: 600;
}

mat-form-field.input-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-label {
  font-weight: 500;
  color: #333;
}

input.mat-input-element {
  font-size: 1.1em;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

input.mat-input-element:focus {
  border-color: #3f51b5;
}

button.mat-raised-button {
  width: 100%;
  padding: 12px;
  background-color: #3f51b5;
  color: white;
  border-radius: 30px;
  font-size: 1.1em;
  border: none;
  transition: background-color 0.3s ease;
}

button.mat-raised-button:hover {
  background-color: #303f9f;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 15px;
}

.register-link {
  margin-top: 20px;
  font-size: 1em;
}

.register-link a {
  color: #3f51b5;
  font-weight: 500;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

