<div class="login-container">
  <div class="login-card">
    <h2 class="title">Iniciar sesión</h2>
    <!--
    <form (ngSubmit)="onSubmit()">
      <mat-form-field class="input-field" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput [(ngModel)]="username" name="username" required />
      </mat-form-field>

      <mat-form-field class="input-field" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" class="login-button" type="submit">Iniciar sesión</button>
      
      <p class="error-message" *ngIf="error">{{ error }}</p>
    </form>
  -->

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
             class="error-message">
          Valid email is required
        </div>
      <mat-form-field class="input-field" appearance="fill">
        <!--
        <mat-label for="email">Email / Usuario</mat-label>
        -->
        <mat-label>Email</mat-label>
        <input matInput
          type="email" 
          id="email" 
          formControlName="email"
          placeholder="Enter your email">
        
      </mat-form-field>
      <!---->
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
             class="error-message">
          Password is required
        </div>
      <mat-form-field class="input-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput
          type="password" 
          id="password" 
          formControlName="password"
          placeholder="Enter your password">
        
      </mat-form-field>
  
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      
      <button mat-raised-button color="primary" class="login-button" type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
    </form>
    
    <p class="register-link">
      ¿No tienes cuenta? <a (click)="goToRegister()">Crear cuenta</a>
    </p>
    
</div>
